body {
    font-family: 'Poppins', sans-serif;
    background-color: #fdf5dd;
}

.Background{
    height: 100px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("/assets/images/Weather.jpg");
    background-position: center;
    color:rgb(20, 188, 239);
    text-align:left;
    padding: 50px;
    font-size: 35px;
    text-shadow: 0 0 15px #020eed;
  
}
#button {
    background-color: #acdffa;
    color: #0468fe;
    width: 20%;
  }
  .top {
    display: flex;
  }

#main-weather-section {
  display: flex;
  flex-direction:column;
  /* Centers along the main axis determined by flex-direction */
  justify-content: center;
  /* Centers along the opposite axis */
  align-items:center;
  width: 60rem;
  /* Uses the height of the viewport */
  
  margin: 0 auto;
  border-width: 2px;
 
}

.section {
  padding: 20px;
  text-align: center;
  display: table-row;
  border-style: solid;
  border-width: 1px;
  background-color: #ffa496;
  width: 40rem;

}

#five-day-forecast {
  display:flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items:center;
  padding-top: 3rem;
}

.weatherCard {
  display: flex;
  flex-direction: column ;
gap: 1rem;
border-radius: 5px;
box-shadow: 4px 4px 8px rgba(0 , 0, 0, 0.6);
padding: 1rem;
}
@media screen and (max-width: 992px) {
  .card {
    width: 50%;}
  }
  @media screen and (max-width: 768px) {
      .card {
        width: 100%;}
      }